<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    
    <%- include("../partials/header.ejs") %>
    <a href="/fruits/new"><button>Create a Fruit</button></a>
    <main>
        <div>
            <% for(let fruit of fruits) { %>

                <article>
                    <a href="/fruits/<%= fruit._id %>">
                        <h2>
                            <%= fruit.name %> - <%= fruit.
                            readyToEat ? "Ripe" : "Not Ripe" %>
                    </a>
                </article>


           <% } %>
        </div>
    </main>
    
</body>
</html>